body {
    /* רקע */
    background-color: #49d23c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 100%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

.frame div {
    background-color: rgb(87, 85, 83);
    padding: 8px;
    margin: 12px;
    border: 4px solid red;
    height: 100px;
    text-align: center;
    border-radius: 10px;
}

