body {
    /* רקע */
    background-color: #8c5d24;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

}

th, td {
    border: 1px solid;
    height: 40px;
    padding:  0 8px;
    text-align: center;
    color: #8c5d24;
} 

td:hover {
    background-color: #cb475b; 
}

tr>td:first-child, th{
    background-color: #135da7;
    color: white;
}

td[rowspan] {
    background-color: #d1a100;
    color:#135da7;
}

