body {
    /* רקע */
    background-color: #3cae55;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

.frame div {
    background-color: white;
    padding: 8px;
    margin: 12px;
    border: 3PX solid;
    height: 100px;
    color: #3e3cae;
}

.frame div:first-child {
    border: 4px solid red;
    border-left-width: 15px;
    border-right-width: 20px;
    
 
}

.frame div:nth-child(2) {
    border: 4px solid  rgb(0, 255, 4);
 
}
.frame div:nth-child(3) {
    border: 4px dashed rgb(46, 46, 6);
   ;
}
.frame div:nth-child(4) {
    border: 4px double;
 
}
.frame div:nth-child(5) {
    border: 4px dotted;
   
}