
body {
    /* רקע */
    background-color: #d28a3c;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

.frame>div {
    width: 150px;
    height: 150px;
margin: 16px;
display: iline-block;

}

.frame>div:first-child {
    background-color: blueviolet;
    border-radius: 25px;
}

.frame>div:nth-child(2){
    background-color: aqua;
    border-radius: 50%
}



.frame>div:nth-child(3){
    background-color: rgb(106, 255, 0);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
}

.frame>div:nth-child(4){
    background-color: rgb(255, 0, 0);
    border-radius: 50% 0 ;
}
.frame>div:nth-child(5){
    background-color: rgb(0, 21, 255);
border-radius: 100% 0 0;
}
.frame>div:nth-child(6){
    background-color: rgb(255, 242, 0);
border-radius: 25px 70%
}

.frame>div:nth-child(7){
border-radius: 50%;
border: 20px solid gray;
background-color: aqua;
} 
.frame>div:nth-child(8){
background-color: rgb(49, 43, 226);
border-radius: 50% 50% 0 0;
} 