
body {
    /* רקע */
    background-color: #534f4a;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

.frame>div:not(.text) {
    width: 200px;
    height: 200px;
    margin: 16px;
    display: inline-block;
    background-color: rgb(255, 0, 55);
border-radius: 4px;
}

.frame>div:first-child {
    box-shadow: 10px 10px  0 1px rgb(0, 0, 0) ;

}

.frame>div:nth-child(2) {
    box-shadow: 0 0 10px 6px rgb(0, 0, 0) ;

}

.frame>div:nth-child(3) {
    box-shadow:inset 0 0 40px black
}

.frame>div:nth-child(4) {
    box-shadow:inset 0 0 40px black, 0 0 5px 12px
}



.frame>div:nth-child(5) {
    box-shadow: 0 0 0 6px black,inset 0 0 0 6px rgb(17, 0, 255),inset 0 0 0 10px yellow;
    background-color: plum;
    border: 6px solid red;
}

.frame>div:nth-child(6) {
box-shadow: inset 10px 10px 0 3px;}

p {
    font-size: 36px;}

    p:first-child {
        text-shadow: 4px 4px 0px red ;
    }

    p:nth-child(2){ 
        text-shadow: 2px 1px 0;
        color: aqua;
    }

    p:nth-child(3){ 
        text-shadow: 0 0 3px;
        color: rgb(47, 255, 0);
    }

        p:nth-child(4){ 
color: white;
text-shadow: 0 0 6px black;
font-weight: bold;
    }

        p:nth-child(5){ 
color: rgb(255, 255, 255);
text-shadow: -1px -1px 0 black,1px -1px black,1px 1px 0px black, -1px -1px 0 black;
font-weight: bold;
    }

            p:nth-child(6){ 
text-shadow: 1px 1px 2px black,0 0 25px blue, 0 0 5px yellow; } 