

body {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/91/Pizza-3007395.jpg);
    background-position: center;
    background-size: cover;
    /* רקע */
    background-color: rgb(55, 47, 79);
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 300px;
    /* גובה התחלתי */
    min-height: 900px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

ul {
    list-style-type: square;
}

.field {
    /* ריווח פנימי */
    padding: 8px;
}

.field input {
    /* רוחב */
    width: 100%;
    /* ריווח פנימי */
    padding: 8px;
    /* ריווח חיצוני עליון */
    margin-top: 3px;
    /* עיגול קצוות */
    border-radius: 4px;
    /* גבול */
    border: 1px solid;
    /* גודל גופן */
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    font-size: 18px;
    padding: 8px;
    background-color: #06e206;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 5px;
   a:hover {
    background-color: rgb(131, 127, 163);
}
}

