body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    direction:rtl;
    background:linear-gradient(180deg,#f0f9ff,#ffffff);
    color:#0f172a;
}

/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:white;
    box-shadow:0 2px 15px rgba(0,0,0,0.05);
}

nav a{
    color:#0f172a;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:#d406ab;
}

/* HERO */

.hero{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:80px 40px;
    gap:40px;
    background:linear-gradient(135deg,#e0f2fe,#f5f3ff);
}

.hero-text h2{
    font-size:42px;
    color:#020617;
}

.hero button{
    padding:12px 35px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#06b6d4,#8b5cf6);
    color:white;
    cursor:pointer;
    font-size:17px;


}
.hero button:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
.hero-img img{
    width:320px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.1);
}

/* ABOUT */

.about{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    padding:80px 40px;
}

.about img{
    width:300px;
    border-radius:20px;
}

/* PROJECTS */

.title{
    text-align:center;
    font-size:32px;
    margin-bottom:40px;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:0 40px 80px;
}

.project-card{
    background:white;
    border-radius:18px;
    overflow:hidden;
    transition:0.3s;
    box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

.project-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 40px rgba(139,92,246,0.25);
}

/* CONTACT */

.contact{
    text-align:center;
    padding:60px;
    background:linear-gradient(135deg,#f0f9ff,#eef2ff);
}

/* FOOTER */

footer{
    text-align:center;
    padding:20px;
    background:white;
    box-shadow:0 -2px 15px rgba(0,0,0,0.05);
}
