/* ================= BODY ================= */

body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
direction:rtl;
background:linear-gradient(135deg,#1e1b4b,#312e81,#0f172a);
color:#e2e8f0;
}


/* ================= NAVBAR ================= */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:rgba(15,23,42,0.7);
backdrop-filter:blur(12px);
box-shadow:0 5px 25px rgba(0,0,0,0.4);
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

.logo{
width:42px;
height:42px;
border-radius:50%;
object-fit:cover;
}

.navbar a{
text-decoration:none;
margin-left:20px;
color:#e2e8f0;
font-weight:bold;
transition:0.3s;
}

.navbar a:hover{
color:#38bdf8;
}

/* ================= HERO ================= */

.hero{
display:flex;
justify-content:space-around;
align-items:center;
padding:100px 40px;
background:linear-gradient(180deg,#312e81,#0f172a);
border-radius:20px;
}

.hero-text h2{
font-size:45px;
color:white;
}

.hero-button{
margin-top:20px;
padding:14px 35px;
border:none;
border-radius:14px;
background:linear-gradient(90deg,#6366f1,#22d3ee);
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
text-decoration:none;
font-weight:550;
}

.hero-img img{
width:340px;
border-radius:30px;
box-shadow:0 20px 40px rgba(0,0,0,0.4);
transition:0.4s;
}

.hero-img img:hover{
transform:translateY(-8px) scale(1.02);
}

/* ================= ABOUT ================= */

.about{
padding:50px 50px;
background:transparent;
text-align:center;
}

.about-wrapper{
display:flex;
align-items:center;
justify-content:space-between;
flex-direction:row-reverse;
gap:60px;
max-width:1000px;
margin:0 auto;
}

.about-text{
background:#1e293b;
padding:35px 45px;
border-radius:20px;
box-shadow:0 20px 50px rgba(0,0,0,0.4);
max-width:650px;
}

.about-text p{
color:#cbd5f5;
}

.about-img img{
display:block;
margin:0 auto;
border:2px solid #6366f1;
width:280px;
height:280px;
object-fit:cover;
border-radius:50%;
box-shadow:0 20px 50px rgba(99,102,241,0.25);
transition:0.4s;
}

.about-img img:hover{
transform:translateY(-5px) scale(1.03);
}

/* ================= SOCIAL ICONS ================= */

.social-links{
display:flex;
justify-content:center;
gap:25px;
align-items:center;
margin-top:15px;
}

.social-item{
display:flex;
flex-direction:column;
align-items:center;
transition:0.3s;
}

.social-item:hover{
transform:translateY(-5px);
}

.social-links img{
width:60px;
height:60px;
object-fit:cover;
}

.icon-text{
margin-top:6px;
padding:5px 14px;
font-size:13px;
font-weight:600;
color:white;
background:linear-gradient(90deg,#6366f1,#22d3ee);
border-radius:20px;
box-shadow:0 4px 12px rgba(0,0,0,0.4);
}

/* ================= PROJECTS ================= */

.projects{
padding:40px 20px;
background:transparent;
border-radius:20px;
}

.projects-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:35px;
}

.card{
background:#1e293b;
border-radius:20px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
transition:0.3s;
}

.card img{
width:100%;
aspect-ratio:16/9;
object-fit:cover;
display:block;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 20px 60px rgba(99,102,241,0.35);
background-color:#312e81;
}

/* ================= CONTACT ================= */

.contact{
padding:60px 20px;
text-align:center;
background:#1e293b;
border-radius:25px;
margin-top:60px;
box-shadow:0 20px 60px rgba(0,0,0,0.5);
}

.contact h2{
font-size:32px;
margin-bottom:10px;
color:white;
}

.contact-form{
max-width:500px;
margin:30px auto 0;
display:flex;
flex-direction:column;
gap:15px;
}

.contact-form input,
.contact-form textarea{
padding:14px;
border-radius:14px;
border:1px solid #334155;
background:#0f172a;
color:white;
font-size:16px;
outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{
border-color:#6366f1;
box-shadow:0 0 0 3px rgba(99,102,241,0.25);
}

.contact-form button{
padding:14px;
border:none;
border-radius:14px;
background:linear-gradient(90deg,#6366f1,#22d3ee);
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
font-weight:bold;
}

.contact-form button:hover{
transform:translateY(-3px);
box-shadow:0 10px 25px rgba(99,102,241,0.4);
}

/* ================= FOOTER ================= */

footer{
background:#020617;
text-align:center;
padding:10px;
color:#94a3b8;
}