body {
    /* רקע */
    background-color: #3cae55;
    /* גופן */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* כיוון האתר */
    direction: rtl;
}

h1 {
    /* צבע טקסט */
    color: white;
    /* גודל טקסט */
    font-size: 36px;
    /* יישור טקסט */
    text-align: center;
}

.frame {
    /* רקע */
    background-color: white;
    /* רוחב */
    width: 90%;
    /* רוחב מקסימלי */
    max-width: 900px;
    /* גובה התחלתי */
    min-height: 500px;
    /* מרכוז אלמנט */
    margin: auto;
    /* עיגול קצוות */
    border-radius: 5px;
    /* ריווח פנימי */
    padding: 12px;
}

h2 {
    background-color: rgb(195, 195, 195 );
    padding: 8px;
    margin: 8px 0;
    border: 2px dashed gray;
    border-right: 0;
    border-left: 0;
    text-align: center;
}

.image {
    width: 900px;
    height: 400px;
    border: 1px  solid gray;
    max-width: 100%;

}

.image1 {
   background-image: url(images/repeat_background.png);
   background-size: 50px;
   filter: hue-rotate(100deg);
}

.image2 {
    background-image: url(images/project.jpeg);
    background-size: cover;
}

.image3 {
    background-image:url(images/web.png) , url(images/project.jpeg);
    background-size: 200px , cover;
    background-repeat: no-repeat;
    background-position: center, top ;
}

.image4 {
    background-image:url(images/web.png),url(images/web.png) , url(images/repeat_background.png);
    background-size: 200px , 200px , 50px;
    background-repeat:  no-repeat , no-repeat , repeat;
    background-position:
    left , right , center ;
}
