
body {
    background-color: #d23c3c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    direction: rtl;
}

h1 {
    color: white;
    font-size: 36px;
    text-align: center;
}

.frame {
    background-color: white;
    width: 90%;
    max-width: 900px;
    min-height: 500px;
    margin: auto;
    border-radius: 5px;
    padding: 12px;
}

h2 {
    background-color: rgb(195, 195, 195);
    padding: 8px;
    margin: 8px 0;
    border: 2px dashed  gray;
    border-right: 0;
    border-left: 0;
    text-align: center;
}

.myDiv {
    width: 300px;
    height: 180px;
    transition: 1s;
}

.div1 {
background-color: #d23c3c;
}
.div1:hover{
    rotate: 90deg;
}

.div2 {
    background-color: aqua;

}

.div2:hover  {
   transform:rotate3d(0, 1 , 2, 360deg) ;
   background-color: blueviolet;

}
.div3 {
    background-color: rgb(102, 255, 0);
}
.frame:hover .div3 {
    rotate: 360deg;
}
.div4 {
    background-color: rgb(255, 0, 123);}
.div4:hover {
   scale: 1.5;
} 
.circle {
    width: 100px;
    height: 100px;
    background-color: chocolate; 
    color: white;
    border-radius: 50%;
    font-size: 50px;
    cursor: pointer;
    /*עוד לא למדנו*/
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    border: 6px solid violet;

}

.circle:hover {
rotate: 360deg;
background-color: rgb(213, 12, 29);
color:blue;
border: 10px solid gold;
} 

.circle:active {
    scale: 0.6s;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
}